Flask==3.1.0
gunicorn==23.0.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
torch==2.5.1
torchvision==0.19.1
ultralytics==8.3.49
matplotlib==3.10.0
pillow==11.0.0
PyYAML==6.0.2
requests==2.32.3
scipy==1.10.1
tqdm==4.67.1
pandas==2.2.3
seaborn==0.13.2
psutil==6.1.0
